# Database Configuration
DB_HOST=host name 
DB_PORT= port 
DB_NAME= database name
DB_USER= postgres user name 
DB_PASSWORD= postgres password

# OpenAI Configuration
OPENAI_API_KEY= your OPENAI_API_KEY
# Application Configuration
DEBUG= bool